*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 100vw;
    min-height: 100vh;
    background: url('https://svgshare.com/i/PV1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
}
.to-do_container{
    flex: 0 1 50%;
    transform: translateX(-2%);
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 50px 50px 50px 50px;
    color: #fff;
    margin-right: 30px;
    margin-top: 20px;
}
.send{
    display: flex;
    justify-content: center;
    align-items: center;
}
.datas{
    list-style: none;
    flex: 0 1 50%;
}
.datas_item{
  display: flex;
  justify-content: center;
  padding: 20px;
}
input,input:focus{
 outline: none;
}
.input-top{
    width: 50%;
    margin: 20px 0;
    height: 40px;
}
.invia{
    height: 40px;
    margin-left:5%;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}
.input_modifica{
    width:  70%;
    transition: all .2s;
    padding: 5px;
    border-radius: 5px;
}
.hidden{
    width: 0;
    padding: 0px;
    border-radius: 0px;
}
button,
input{
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  border: none;
  background-color: #fdc500;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
 padding-left: 15px;
}
.item{
    cursor: pointer;
    margin-right: 20px;
    transition: all .2s;
    min-width: 30%;
}
.datas_item{
    background-color: #6200b3;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.datas_item:hover{
    transform: scale(1.1);
}
.modifica,.elimina{
    margin-left: 10px;
}
.datas_item button{
    padding: 5px;
    border-radius: 5px;
}
.datas_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nascosto{
    display: none;
}
.bg-1{
    width: 80vw;
    height: 10vh;
    position: absolute;
    background-color: red;
    top: -10%;
    left: 0;
    clip-path: circle();
}